@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import '/node_modules/antd/dist/antd.css';

@font-face {
  font-family: 'BebasNeue';
  src: url('fonts/BebasNeueRegular.woff');
}
/* html,
body {
  padding: 0;
  margin: 0;
	@@ -13,4 +19,8 @@ a {
* {
  box-sizing: border-box;
} */

/* h1,
h2 {
  font-family: 'BebasNeue';
} */

.ant-input-group-lg .ant-select-single .ant-select-selector {
  height: auto;
}
